@page "/SamplePages/Basics"
<PageTitle>Review Basics</PageTitle>
<h1>Basics of Blazor Page</h1>

@{
    // The razor page (Blazor) contains both C# and HTML code
    //  The @ symbol takes processing from the HTML environment
    //      and moves it to the C# environment
    //  Processing any HTML code moves processing into the HTML environment
}

<h3>Demonstration of OnInitializedAsync processing</h3>
<p>
    @if (string.IsNullOrWhiteSpace(myName))
    {
        <p>The random number is odd [@oddEven]</p>
    }
    else
    {
        <p>@myName</p>

    }
</p>
<button class="btn-success" @onclick="RandomValue">Random Value</button>
<MatButton  Label="Index" Raised="true"
            @onclick="@(()=>NavigationManager.NavigateTo($"/"))">></MatButton>
<p>
    <MatButton OnClick="GetDatabase" Label="Get Database Version"Raised="true"/>
    @if (workingVersion.Build == 0)
    {
        <p style="font-weight: bold">Build Version: Unknown</p>
    }
    else
    {
        <p> Build Version: @workingVersion.Major 
            @workingVersion.Minor 
            @workingVersion.Build 
            Released: @workingVersion.AsOfDate.ToShortDateString()
        </p>
    }
</p>